<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar</title>
</head>
<body>
  <form method="post" asp-controller="UsersController" asp-action="Post" asp-antiforgery="true" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
      <h2>Realizar login</h2>
      <input type="email" placeholder="E-mail" formControlName="email" required>
      <input type="password" placeholder="Senha" formControlName="password" required>
      <div class="checkbox">
        <label for="rememberMe">Lembrar</label>
        <input type="checkbox" formControlName="rememberMe">
      </div>
      <button [disabled]="!loginForm.valid">Entrar</button>
      <button [routerLink]="['/register']">Registrar</button>
      <div class="forgot-password">
        <a href="forgot-password.html">Esqueci a senha</a>
      </div>
    </div>
  </form>
</body>
