.search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.input {
  margin-right: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.mcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.search-card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category {
  flex: 1;
  max-width: 300px;
}

.search-input {
  flex: 1;
}

.input-container {
  display: flex;
  gap: 10px; 
}


.selected-products {
  margin-bottom: 180px;
}

.qty {
  max-width: 100px;
}

.selected-products {
  margin-top: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: initial;
}

selected-products .mat-header-cell .custom-mat-table .mat-cell {
  text-align: center;
}

.selected-products mat-header-row {
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
}

.selected-products mat-header-cell:hover {
  background-color: #ccc;
  cursor: pointer;
}
