.mat-elevation-z8 {
  margin-top: 10px;
}
.custom-mat-table {
  margin-top: 10px;
}

  .custom-mat-table .mat-header-cell,
  .custom-mat-table .mat-cell {
    text-align: center;
  }


.custom-mat-table {
  margin-top: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: initial;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

  .custom-mat-table .mat-header-cell .custom-mat-table .mat-cell {
    text-align: center;
  }

  .custom-mat-table mat-header-row {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 5px;
  }

  .custom-mat-table mat-header-cell:hover {
    background-color: #ccc;
    cursor: pointer;
  }
