<div class="page-conteiner">
  <form class="searchForm" [formGroup]="searchForm">

    <mat-form-field class="category" appearance="outline">
      <mat-label for="categories$">Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-input">
      <div class="search">
        <input matInput
               appearance="outline"
               [matAutocomplete]="auto"
               type="text"
               [formControl]="searchControl"
               placeholder="Buscar produto por nome">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let product of filteredProducts" [value]="product.name" (click)="selectProduct(product)">
            {{ product.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-form-field>

    <button mat-raised-button (click)="resetFilter()" class="btn btn-default">Redefinir</button>

  </form>
  <div *ngIf="isMessageVisible">
    <app-alert></app-alert>
  </div>
  <h2>Detalhes do produto {{ selectedProduct?.name }}</h2>
  <tbody>
    <tr>
      <td class="info">
        ID: {{ selectedProduct?.id }}<br>
        Descrição: {{ selectedProduct?.description }}<br>
        Categoria: {{ selectedProduct?.categoryName }}<br>
        Loja: {{ selectedProduct?.departmentName }}<br><br>

        Preço: {{ selectedProduct?.price | currency:'BRL':'symbol':'1.2-2' }}<br>
        Custo de aquisição: {{ selectedProduct?.acquisitionCost?? 0 | currency:'BRL':'symbol':'1.2-2' }}<br>
        Margem: {{selectedProduct?.margin?? 0 | number:'1.2-2' | percent}}<br>
        Lucro total: {{selectedProduct?.profit?? 0| currency:'BRL':'symbol':'1.2-2' }}<br>

        Custo médio de estoque: {{ selectedProduct?.inventoryCost?? 0 | currency:'BRL':'symbol':'1.2-2' }}<br>
        Valor total de estoque: {{ selectedProduct?.totalInventoryValue?? 0 | currency:'BRL':'symbol':'1.2-2' }}<br>
        Custo total de estoque: {{ selectedProduct?.totalInventoryCost?? 0 | currency:'BRL':'symbol':'1.2-2' }}<br>
        Saldo mínimo de estoque: {{ selectedProduct?.minimumInventoryQuantity?? 0 }}<br>
        Unidade de medida de estoque: {{ getUnitMeasName(selectedProduct?.inventoryUnitMeas)}}<br>

        Quantidade total em estoque: {{ selectedProduct?.inventoryQuantity?? 0 }}<br>

      </td>
    </tr>
  </tbody>

  <div>
    <form method="post" asp-controller="ProductsController" asp-action="Edit" asp-antiforgery="true" [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <br />
      <br />
      <div class="form-container">
        <mat-form-field appearance="outline" class="centered-inputs" floatLabel="always">
          <mat-label for="inventoryQuantity">Realizar entrada de produto no estoque</mat-label>
          <input matInput type="number" id="inventoryQuantity" formControlName="inventoryQuantity">
          <span class="um" matSuffix>{{ getUnitMeasName(selectedProduct?.inventoryUnitMeas)}}</span>
        </mat-form-field>

        <br />

        <br />
        <mat-form-field appearance="outline" class="centered-inputs" floatLabel="always">
          <span matPrefix>R$</span>
          <mat-label for="acquisitionCost">Custo de aquisição</mat-label>
          <input matInput type="number" id="acquisitionCost" formControlName="acquisitionCost">
        </mat-form-field>

        <br />
        <mat-form-field appearance="outline" class="centered-inputs" floatLabel="always">
          <mat-label for="minimumInventoryQuantity">Saldo mínimo de estoque</mat-label>
          <input matInput type="number" id="minimumInventoryQuantity" formControlName="minimumInventoryQuantity">
        </mat-form-field>

        <mat-form-field appearance="outline" class="centered-inputs">
          <mat-label for="suppliers$">Fornecedor</mat-label>
          <mat-select id="suppliers$" formControlName="supplierId">
            <mat-option *ngFor="let supplier of suppliers$ | async" [value]=supplier.supplierId>{{ supplier.name }}</mat-option>
          </mat-select>
          <br />
        </mat-form-field>

        <br />
        <div class="buttons">
          <button mat-raised-button [disabled]="productForm.invalid" type="submit">Salvar</button>
          <button mat-raised-button class="btn btn-default" [routerLink]="['/products']">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
