<table class="table table-striped table-hover">
  <thead>
    <tr class="success">
      <th>Id</th>
      <th>Nome</th>
      <th>Vendedores</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of departments">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.sellers.length }}</td>
      <td>
        <a [routerLink]="['/edit', item.id]">Editar</a> |
        <a [routerLink]="['/details', item.id]">Detalhes</a> |
        <a [routerLink]="['/delete', item.id]">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <a [routerLink]="['/create']" class="btn btn-default">Criar novo</a>
</p>
