.header {
  background-color: hsl(188, 49%, 73%);
}
.searchForm {
    margin-left: 3px;
}

.container {
  height: 100vh;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.output {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formresult {
}


table {
  width: 100%;
  zoom: 0.85;
}

.mat-form-field {
  font-size: 14px;
}

td, th {
}

mat-elevation-z8 {
  padding: 20px;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);
}
