<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de senha</title>
</head>

<body>
  <form method="post" asp-controller="UsersController" asp-action="Create" asp-antiforgery="true" [formGroup]="redefineForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
      <h2>Recuperação de senha</h2>
      <input type="email" formControlName="email" placeholder="E-mail" required>
      <div *ngIf="redefineForm.get('email')?.errors?.required && redefineForm.get('email')?.touched" class="error">Email obrigatório</div>
      <div *ngIf="redefineForm.get('email')?.errors?.email && redefineForm.get('email')?.touched" class="error">Email inválido</div>
      <input type="password" formControlName="password" placeholder="Senha" required>
      <div *ngIf="redefineForm.get('password')?.errors?.required && redefineForm.get('password')?.touched" class="error">Senha obrigatória</div>
      <div *ngIf="redefineForm.get('password')?.errors?.minlength && redefineForm.get('password')?.touched" class="error">A senha deve ter no mínimo 6 caracteres</div>
      <div *ngIf="redefineForm.get('password')?.errors?.pattern && redefineForm.get('password')?.touched" class="error">Sua senha deve conter pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial.</div>
      <input type="password" formControlName="confirmPassword" placeholder="Confirme a senha" required>
      <div *ngIf="redefineForm.errors?.passwordMismatch" class="error">Senhas diferentes</div>
      <button [disabled]="redefineForm.invalid" type="submit">Redefinir senha</button>
      <button [routerLink]="['/login']">Cancelar</button>
    </div>
  </form>
</body>
