<div>
  <form method="post" asp-controller="ProductsController" asp-action="Create" asp-antiforgery="true" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label for="name">Nome</mat-label>
      <input matInput type="text" id="name" formControlName="name" required>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Preço</mat-label>
      <input matInput type="number" id="price" formControlName="price" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label for="description">Descrição</mat-label>
      <input matInput type="text" id="description" formControlName="description">
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label for="imageUrl">Imagem</mat-label>
      <input matInput type="text" id="imageUrl" formControlName="imageUrl">
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label for="department$">Departamento</mat-label>
      <mat-select id="departments$" formControlName="departmentId">
        <mat-option *ngFor="let department of departments$ | async" [value]=department.id>{{ department.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label for="categories$">Categoria</mat-label>
      <mat-select id="categories$" formControlName="categoryId">
        <mat-option *ngFor="let category of categories$ | async" [value]=category.id>{{ category.name }}</mat-option>
      </mat-select>
      <br />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline" class="input">
      <mat-label for="um">Unidade de estoque</mat-label>
      <mat-select id="um" formControlName="inventoryUnitMeas">
        <mat-option *ngFor="let um of getUnitMeasValues()" [value]="um">
          {{ getUnitMeasName(um) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <button type="submit" class="btn btn-default">Cadastrar</button>
    <button class="btn btn-default" [routerLink]="['/products']">Cancelar</button>
  </form>
</div>
