<div class="mat-dialog-header">
  <h2>Tem certeza que deseja deletar {{ department?.name }}?</h2>
</div>

<div class="center-container">

  <br />

  <p><strong>ID:</strong> {{ department?.id }}</p>
  <p><strong>Endereço:</strong> {{ department?.address }}</p>
  <p><strong>CNPJ:</strong> {{ department?.cnpj }}</p>
</div>

<div class="buttons-container">
  <button mat-raised-button (click)="onDeleteClick()">Deletar</button>
  <button mat-raised-button class="btn btn-default" (click)="cancel()">Cancelar</button>
</div>
