.mat-elevation-z8 {
  margin-top: 10px;
}

.custom-mat-table {
  margin-top: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: initial;
}

.custom-mat-table .mat-header-cell .custom-mat-table .mat-cell {
  text-align: center;
}

.custom-mat-table mat-header-row {
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
}

.custom-mat-table mat-header-cell:hover {
  background-color: #ccc;
  cursor: pointer;
}
