<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de senha</title>
</head>
<body>
  <form method="post" asp-controller="UsersController" asp-action="Post" asp-antiforgery="true" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
    <div class="email-container">
      <h2>Recuperação de senha</h2>
      <input type="email" placeholder="E-mail" formControlName="email" required>
      <button [disabled]="!recoveryForm.valid">Enviar</button>
      <button [routerLink]="['/login']">Cancelar</button>
    </div>
  </form>
</body>
