a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.mat-menu-item {
  color: white; /* Example style */
}

.navbar {
  margin-bottom: 20px; /* Adjust the value as needed */
}


/* Target the list containing the logout icon */
.logout-list {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: lightblue;
  align-items: center;
}


.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-list {
  display: flex;
}

.nav-item {
  margin-left: 10px; /* Adjust spacing between items if needed */
}
