<div>
  <form class="formedit" method="post" asp-controller="ProductsController" asp-action="Edit" asp-antiforgery="true" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label for="id">ID</mat-label>
      <input matInput type="number" id="id" formControlName="id">
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline">
      <mat-label for="name">Nome</mat-label>
      <input matInput type="text" id="name" formControlName="name" required>
    </mat-form-field>

    <br />
    <mat-form-field appearance="outline">
      <mat-label for="price">Preço</mat-label>
      <input matInput type="number" id="price" formControlName="price" required>
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline">
      <mat-label for="description">Descrição</mat-label>
      <input matInput type="text" id="description" formControlName="description">
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline">
      <mat-label for="imageUrl">Imagem</mat-label>
      <input matInput type="text" id="imageUrl" formControlName="imageUrl">
    </mat-form-field>
    <br />


    <mat-form-field appearance="outline">
      <mat-label for="categories$">Categoria</mat-label>
      <mat-select id="categories$" formControlName="categoryId">
        <mat-option *ngFor="let category of categories$ | async" [value]=category.id>{{ category.name }} </mat-option>
      </mat-select>
      <br />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="subcategories$">Subcategoria</mat-label>
      <mat-select id="subcategories$" formControlName="subcategoryId">
        <mat-option *ngFor="let subcategory of subcategories$ | async" [value]="subcategory.id">{{ subcategory.name }}</mat-option>
      </mat-select>
      <br />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline" class="input">
      <mat-label for="um">Unidade de estoque</mat-label>
      <mat-select id="um" formControlName="inventoryUnitMeas">
        <mat-option *ngFor="let um of getUnitMeasValues()" [value]="um">
          {{ getUnitMeasName(um) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <button mat-raised-button type="submit">Editar</button>
    <button mat-raised-button class="btn btn-default" [routerLink]="['/products']">Cancelar</button>
  </form>
</div>
